// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
td {
  background-color:rgb(94, 226, 231);
  border: solid;
  font-size:xx-large;
  padding-bottom: 20px;
  padding-right: 20px;
}
